.edit-schedules-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.schedule-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ecd999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 1400px;
  height: 500px;
}

.schedule-card h2 {
  color: #354b8a;
  text-align: center;
  font-size: 40px;
}

.schedule-card p {
  margin: 20px;
  line-height: 1.5;
  color: black;
  font-size: 20px;
  text-align: center;
}

