.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.student-content-container {
    padding: 20px;
    font-size: 1.1em;
    margin-top: 20px;
    background-color: #f2f2f2;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.dashboard-stats::-webkit-scrollbar {
    width: 8px;  
}
.dashboard-stats::-webkit-scrollbar-thumb {
    background: #ccc; /* Scrollbar color */
    border-radius: 4px; /* Rounded scrollbar edges */
}
.dashboard-stats::-webkit-scrollbar-thumb:hover {
    background: #999; /* Darker on hover */
}   
.stat-container {
    padding: 20px;
    text-align: center;
    background-color: #ffecae;
    border-radius: 12px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
}

.stat-container:hover {
    transform: scale(1.06);
}

.stat-container h4 {
    font-size: 1.5em;
    margin: 0;
    color: #354b8a;
}

.stat-container p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 0;
    color: #157218;
}

@media (max-width: 768px) {
    .dashboard-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    
    .stat-container {
        height: 150px;
        padding: 15px;
    }
    
    .stat-container h4 {
        font-size: 1.3em;
    }
    
    .stat-container p {
        font-size: 1.3em;
    }
}

@media (max-width: 659px) {
    .dashboard-stats {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .stat-container {
        height: 120px;
        padding: 15px;
    }
    
    .stat-container h4 {
        font-size: 1.2em;
    }
    
    .stat-container p {
        font-size: 1.2em;
    }
}
